<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/diceGame.css">

<div class="container">
    <h1>Press the Space Bar to roll dice</h1>

    <div class="dice">
      <p>Player 1</p>
      <img class="img1" src="images/dice1.png">
    </div>

    <div class="dice">
      <p>Player 2</p>
      <img class="img2" src="images/dice1.png">
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg btn-danger"><a href="/">Click Here To Go Back</a></button>
  
  <!--Load diceGame js file-->
<script type="text/javascript" src="/diceGame.js" charset="utf-8"></script>

<%- include('partials/footer'); -%>