<link rel="stylesheet" href="/css/diceGame.css">

<div class="container">
    <h1>Refresh Me</h1>

    <div class="dice">
      <p>Player 1</p>
      <img class="img1" src="images/dice6.png">
    </div>

    <div class="dice">
      <p>Player 2</p>
      <img class="img2" src="images/dice6.png">
    </div>

  </div>

  <!--Load diceGame js file-->
<script type="text/javascript" src="/diceGame.js" charset="utf-8"></script>