<%- include('partials/header'); -%>
<body>
    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
            <div class="card shadow-sm">
                <img src="/images/SimonGame.png" alt="SimonGame" />
                <div class="card-body">
                <p class="card-text">Simon Game</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-danger">Click To Play</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        
            <div class="col">
            <div class="card shadow-sm">
            <img src="/images/DrumKit.png" alt="Drum Kit" />
                <div class="card-body">
                <p class="card-text">Drum Kit</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-danger">Click To Play</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        
            <div class="col">
            <div class="card shadow-sm">
            <img src="/images/DiceGame.png" alt="Dice Roll" />
                <div class="card-body">
                <p class="card-text">Dice Game</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-danger">Click To Play</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    </body>
      <%- include('partials/footer'); -%>