<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/simonGame.css">

<h1 id="level-title">Press The Space Bar To Start game</h1>
  
<div class="container customContainer">
    
  <div lass="row">
      <div type="button" id="green" class="col styledBtn green"></div>
      <div type="button" id="red" class="col styledBtn red"></div>
      <div class="w-100"></div>
      <div type="button" id="yellow" class="col styledBtn yellow"></div>
      <div type="button" id="blue" class="col styledBtn blue"></div>
    </div>

  </div>
  
  <button type="button" class="btn btn-primary btn-lg btn-danger"><a href="/">Click Here To Go Back</a></button>

<!--Load JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--Load simonGame js file-->
<script type="text/javascript" src="/simonGame.js" charset="utf-8"></script>

<%- include('partials/footer'); -%>